---
layout: archive
permalink: /portfolio/
title: "Projects"
lead: "Research grants."
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}

<section class="panel">
  <div class="panel__head">
    <h2 class="panel__title">Projects</h2>
    <span class="panel__count">{{ site.portfolio.size }}</span>
  </div>
  <div class="panel__body">
    <ul class="panel-news">
      {% for post in site.portfolio reversed %}
        {% include archive-single-portfolio.html %}
      {% endfor %}
    </ul>
  </div>
</section>
