{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li>
  <a class="panel-pubs__title" href="{{ base_path }}{{ post.url }}">{{ title }}</a>
  {% if post.note %}<span class="panel-pubs__note">{{ post.note }}</span>{% endif %}
  {% assign bits = post.citation | split: '&quot;' %}
  {% if bits.size > 2 %}
    <span class="panel-pubs__authors">{{ bits[0] | strip }}</span>
    <span class="panel-pubs__meta">{{ bits | slice: 2, 99 | join: '&quot;' | strip }}</span>
  {% elsif post.citation %}
    <span class="panel-pubs__meta">{{ post.citation }}</span>
  {% else %}
    <span class="panel-pubs__meta"><i>{{ post.venue }}</i> {{ post.date | date: "%Y" }}.</span>
  {% endif %}
  <p class="panel-links">
    {% if post.paperurl %}<a href="{{ post.paperurl }}">Paper</a>{% endif %}
    {% if post.slidesurl %}<a href="{{ post.slidesurl }}">Slides</a>{% endif %}
    {% if post.bibtexurl %}<a href="{{ post.bibtexurl }}">BibTeX</a>{% endif %}
    <a href="{{ base_path }}{{ post.url }}">Details</a>
  </p>
</li>
