{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<article class="pub-item" itemscope itemtype="http://schema.org/CreativeWork">
  <div class="pub-item__year">{{ post.date | default: "1900-01-01" | date: "%Y" }}</div>

  <div class="pub-item__body">
    <h3 class="pub-item__title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}">{{ title }}</a>
    </h3>

    {% if post.project_title %}
      <p class="pub-item__cite">{{ post.project_title }}</p>
    {% endif %}

    {% if post.excerpt and post.excerpt != " " %}
      <p class="pub-item__excerpt" itemprop="description">{{ post.excerpt | strip_html | truncate: 220 }}</p>
    {% endif %}

    <p class="pub-item__links">
      {% if post.repo %}<a class="pub-link" href="{{ post.repo }}">Repo</a>{% endif %}
      {% if post.link %}<a class="pub-link" href="{{ post.link }}">Project page</a>{% endif %}
      <a class="pub-link pub-link--ghost" href="{{ base_path }}{{ post.url }}">Details</a>
    </p>
  </div>
</article>
