{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li>
  <span class="panel-specs__key"><a href="{{ base_path }}{{ post.url }}">{{ title }}</a></span>
  <span class="panel-specs__value">
    {%- if post.type %}{{ post.type }}{% endif -%}
    {%- if post.venue %} &middot; {{ post.venue }}{% endif %} &middot; {{ post.date | default: "1900-01-01" | date: "%Y" }}{% if post.ongoing %}–present{% elsif post.end_date %}–{{ post.end_date }}{% endif %}
  </span>
</li>
