{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li>
  <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%Y-%m-%d" }}</time>
  <div class="panel-news__body">
    <a class="panel-news__title" href="{{ base_path }}{{ post.url }}">{{ title }}</a>
    <span class="panel-news__meta">
      {%- if post.type %}{{ post.type }}{% endif -%}
      {%- if post.venue %} &middot; <i>{{ post.venue }}</i>{% endif -%}
      {%- if post.location %} &middot; {{ post.location }}{% endif -%}
    </span>
    {% if post.slidesurl or post.videourl %}
      <p class="panel-links">
        {% if post.slidesurl %}<a href="{{ post.slidesurl }}">Slides</a>{% endif %}
        {% if post.videourl %}<a href="{{ post.videourl }}">Video</a>{% endif %}
      </p>
    {% endif %}
  </div>
</li>
