{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <a class="masthead__mark" href="{{ base_path }}/">Home</a>

    <nav class="masthead__nav" aria-label="Main">
      {% for link in site.data.navigation.main %}
        {% if link.url contains 'http' %}
          {% assign domain = '' %}
        {% else %}
          {% assign domain = base_path %}
        {% endif %}
        <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>

    <button id="theme-toggle" class="masthead__toggle" type="button" aria-label="Toggle colour theme">
      <i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true"></i>
      <span class="masthead__toggle-label masthead__toggle-label--to-dark">Dark</span>
      <span class="masthead__toggle-label masthead__toggle-label--to-light">Light</span>
    </button>
  </div>
</div>
